/* Navigation */
nav {
    overflow: hidden;
    border-bottom: 1px solid #415773;
    text-transform: uppercase;
    font-size: 14px;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #182E4E;
}
  
li {
float: left;
}
  
li a {
display: block;
color:white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
  
li a:hover:not(.active) {
    color: #182E4E;
    border-top: 3px solid rgb(255,86,33);
    background-color: #E7EAED;
    padding-top: 11px;
    transition: 0.3s;
}

li a.active {
    background-color: #13243E;
    border-top: 3px solid white;
    padding-top: 11px;
    transition: 0.3s;
}

/* Hero */
.hero{
    background: linear-gradient(to right, #337484, #182E4E);
    padding: 50px;
    color: white;
}

/* Hover states for buttons */
button{
    background-color:#e9703e;
    padding: 12px 18px;
    margin-right: 10px;
    font-weight: 300;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


button:hover, active, focus{
    background-color:#D9521C !important;
}

.bg-orange:hover, active, focus {
    background-color:#D9521C !important;
}
.bg-navy:hover, active, focus{
    background-color:#13243E !important;
}

/* Text Styles */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
0% { 
    opacity: 0; 
} 
100% { 
    opacity: 1; 
    } 
} 

h1{
    margin: .67em 0;
    font-size: 2em;
    line-height: normal;
}

h2{
    font-family: "Roboto", sans-serif;
    font-size: 1.75rem;
    letter-spacing: 0;
    font-weight: 400;
    text-align: center;
    color: #13243E;
    padding: 10px;
}

h3{
    font-weight: 200;
    font-family: "Roboto", sans-serif;
}

left{
    text-align: left;
}
/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(625px, 1fr));
}

@media (max-width: 600px) {
    .grid-container { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: 1200px){
    .grid-container { grid-template-columns: repeat(2, 1fr); }
}

/* Form */
.sidebar {
    margin: 0;
    padding: 0;
    width: 400px;
    position: absolute;
    background: linear-gradient(to bottom, #337484, #182E4E);
    height: 100%;
    overflow: auto;
    font-size: 1em;
    color: white;
}

div.maker {
margin-left: 400px;
padding: 1px 16px;
}

.sidebar-content{
    margin: auto;
    padding: 30px;
}
@media screen and (max-width: 700px) {
.sidebar {
    width: 100%;
    height: auto;
    position: relative;
}

.sidebar a {float: left;}
div.maker {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
    .sidebar-content{
        padding: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.text-boxes {
    border: none;
    margin-bottom: 20px;
    padding: 5px;
    max-width: 300px;
    min-height: 20px;
    width: 300px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}


#sample-module{
    margin-top: 10px;
}

html{
    scroll-behavior: smooth;
}