/* Navigation */
nav {
    overflow: hidden;
    border-bottom: 1px solid #415773;
    text-transform: uppercase;
    font-size: 14px;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #182E4E;
}
  
li {
float: left;
}
  
li a {
display: block;
color:white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
  
li a:hover:not(.active) {
    color: #182E4E;
    border-top: 3px solid rgb(255,86,33);
    background-color: #E7EAED;
    padding-top: 11px;
    transition: 0.3s;
}

li a.active {
    background-color: #13243E;
    border-top: 3px solid white;
    padding-top: 11px;
    transition: 0.3s;
}


section{
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100%;
}
/* Hero */
.hero{
    background-image: linear-gradient(to right, #337484, #182E4E);
    padding: 50px;
    color: white;
}

/* Hover states for buttons */
.bg-orange:hover, active, focus {
    background-color:#D9521C !important;
}
.bg-navy:hover, active, focus{
    background-color:#13243E !important;
}

/* Text Styles */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
}

h1{
    margin: .67em 0;
    font-size: 2em;
    line-height: normal;
}

h2{
    font-family: "Roboto", sans-serif;
    font-size: 1.75rem;
    letter-spacing: 0;
    font-weight: 400;
    text-align: center;
    color: #13243E;
    padding: 10px;
}

h3{
    font-weight: 200;
    font-family: "Roboto", sans-serif;
}

/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(625px, 1fr));
}

@media (max-width: 600px) {
    .grid-container { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: 1200px){
    .grid-container { grid-template-columns: repeat(2, 1fr); }
}

@media only screen and (max-width: 40em) {
    thead th:not(:first-child) {
        display: none;
    }

    td, th {
        display: block;
    }

    td[data-th]:before  {
        content: attr(data-th);
    }
    .hidden{
        display: none;
    }
}

.static:hover{
    opacity: 0;
} 

